<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <h2>Add new release to your collection</h2>

    <form action="#" th:action="@{${release.releaseId} != null ? '/updaterelease' : '/saverelease'}"
        th:object="${release}" method="post">
        <input type="hidden" th:if="${release.releaseId} != null" th:field="*{releaseId}" />
        <p>
            Title: <input type="text" th:field="*{title}">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title</span>
        </p>
        <p>
            Artist: <input type="text" th:field="*{artist}">
            <span th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">Invalid artist</span>
        </p>
        <p>
            Released in: <input type="number" th:field="*{releaseYear}" min="1900" max="2025">
            <span th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}">Invalid release year</span>
        </p>
        <label for="formatlist">Format: </label>
        <select id="formatlist" th:field="*{format}" class="form-control">
            <option th:each="format : ${formats}" th:value="${format.formatId}" th:text="${format.type}">
            </option>
        </select><br><br>
        <label for="genrelist">Genre(s):</label>
        <select id="genrelist" name="genres" multiple th:field="*{genres}" class="form-control">
            <option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.name}">
            </option>
        </select>
        <br>
        <p>
            Rating: <input type="number" th:field="*{rating}" min="1" max="5">
            <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">The rating must be between 1 and 5</span>
        </p>
        <input type="submit" value="Add"> <input type="reset" value="Reset">
    </form>
</body>

</html>