<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Collection</title>
</head>

<body>

    <p>User: <span sec:authentication="name"></span></p>
    <h3>Records</h3>

    <table>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Release Year</th>
            <th>Format</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
        <tr th:each="record : ${records}">
            <td th:text="${record.title}">Title</td>
            <td th:text="${record.artist}">Artist</td>
            <td th:text="${record.releaseYear}">Release Year</td>
            <td th:text="${record.format.type}">Format</td>
            <td><span th:each="genre : ${record.genres}" th:text="${genre.name + '  '}"></span></td>
            <td th:text="${record.rating}">Rating</td>
            <td sec:authorize="hasRole('ADMIN')"><a
                    th:href="@{/deleterelease/{releaseId}(releaseId=${record.releaseId})}">Delete</a></td>
        </tr>

    </table>
</body>

</html>