<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Genres</title>
</head>

<body>

    <h2>Genres</h2>

    <a href="/addgenre">Add new genre</a>
    <a href="/addrelease">Add new release</a>

    <table>
        <tr>
            <th>Genre</th>
        </tr>
        <tr th:each="genre : ${genres}">
            <td th:text="${genre.name}">Genre</td>
        </tr>
    </table>
</body>

</html>